footer{
    width: 80%;
    margin: 50px auto;
}
footer a{
    text-decoration: none;
    color: white;
}
footer h4{
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 25px;
}
.contatos{
    width: 40%;
    border: 1px solid white;
    padding: 20px;
}
.contatos p{
    margin: 7px ;
}
.formulario{
    position: fixed;
    right: 10px;
    bottom: 50px;

}
.formulario a{
    color: white;
    text-decoration: none;
}
.formulario-fixo{
    display: none;
}